body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#mobileSupport {
    width: 100vw;
    height: 100vh;
    z-index: 100000000000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#mobileSupport h1 {
    font-size: 2vh;
}

#mobileButton{
    background-color: black;
    color: white;
    padding: 1vw;
}

#countdown {
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10000000000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#countdownLogo {
    height: 40vh;
    width: auto;
}

#countdownTitle {
    margin: 0;
    font-size: 15vh;
}

#countdownTimer {
    font-size: 6vh;
    font-weight: 200;
    color: black;
    text-transform: uppercase;
    margin: 0;
}

#playLangloop {
    margin-top: 2vw;
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../images/muted.svg');
    cursor: pointer;
}





#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000000000;
    display: grid;
    text-align: center;
    background-color: white;
    
}


#loadingHolder {
    align-self: center;
    justify-self: center;
}

#loadingHolder img {
    height: 50vh;
    width: auto;
}

#loadingHolder p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: -5vh;
}



#menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 5vh;
    text-align: center;
    pointer-events: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#container{
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    background-color: white;
    align-self: center;
    justify-self: center;
    font-size: medium;
    pointer-events: all;
    border-radius: 25px;
    max-height: 90vh;
    overflow: scroll;
    -ms-overflow-style: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#container::-webkit-scrollbar {
    display: none;
}

h1, h2{
    text-transform: uppercase;
}

#mainVid {
    display: none;
    height: 60vh;
    width: auto;
    justify-self: center;
}

#mainImg {
    display: none;
    height: 60vh;
    width: auto;
    align-self: center;
}

#helpDiv {
    position: absolute;
    bottom: 0vh;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

#helpText {
    position: relative;
    color: white;
}

#mainOBJ {
    display: none;
    height: 70vh;
    width: auto;
}






#mainCanvas {
    width: 100vw;
    height: 100vh;
}



#cursorContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}

#cursor {
    position: absolute;
    width: 1vw;
    height: 1vw;
}

